@tailwind base;
@tailwind components;
@tailwind utilities;

#light{
  background: #6366f1;
  border-color: transparent;
}

#dark{
  background: #e0e7ff;
  color: #4538ca;
  border-color: transparent;
}

